<script src="~/Assets/lib/CommonUI/js/invoiceDetails.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="font-16">Customer name <strong><span id="customerName"></span></strong></p> <br />
            <p class="font-16">Customer Phone <strong><span id="customerPhone"></span></strong></p>
        </div>
        <div class="col-md-6">
           <div id="grid">

           </div>
        </div>
    </div>


</div>